<div class="container">
  <div class="row center-align">
    <p><i class="fa fa-database" style="font-size:30px;margin-top:20px"></i></p>
    <h4>Enjoy reading Articles, Everyone shares knowledge!</h4>
  </div>
  <div class="row">
    <div class="col s6">
      <img src="img/home-page.jpeg" alt="" class="responsive-img">
    </div>
    <div class="col s6">
      <h5>Title</h5>
      <p>Content</p>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <img src="img/home-page.jpeg" alt="" class="responsive-img">
    </div>
    <div class="col s6">
      <h5>Title</h5>
      <p>Content</p>
    </div>
  </div>
</div>
