<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead mb-3">Drop Down Your Idea for Next Video</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg mb-3n">Add Video Ideas</a>
  <h2>By {{name_author}}</h2>
</div>