<div class="container-fluid about-main">
  <div class="overlay-about">
    <h3>About Us</h3>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <p>Our purpose to create this platform is to help users to keep their book journal in our system to prevent of missing
            when they retain their journal in note books.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid center-align">
  <div class="container">
    <h3>Retain Your Journal With Us and Share It With World</h3>
    <p>We assure that your journal will be in the safe place by retaining in our system.</p>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col s6">
      <img class="responsive-img" src="./img/about-index/about-main1.jpeg" alt="">
    </div>
    <div class="col s6">
      <h3 class="wow animated bounceInRight">Invented?</h3>
      <p class="wow animated bounceInUp " data-wow-duration="3s">Our platform was conducted in
        <strong>December, 12, 2017</strong>. There were few reasons that came to our minds to establish this platform is that: Some
        people on this earth basically, retain what they have noted in their note books or any devices like: mobile phone
        or their computer or laptop. If those people keep in their note books and one day they miss it or losing by any situation
        then, how are they going to recap their journal? This is the problem. If some people they retain their journal in
        laptop or computer it can be deleted by vague when the users can not keep their files properly. That's why we are
        team have to create this platform for them to note down their journal in our system and they can come and visit anytime
        as internet available.</p>

        <button class="btn btn-about wow animated flipInX" data-wow-duration="2s">Leave us a comment.</button>
    </div>

  </div>
  <div class="row">
    <div class="col s6">
      <h3 class="wow animated fadeInLeft">Believe in us</h3>
      <p class="wow animated bounceInUp" data-wow-duration="3s">This is a great platform</p>
      <a href="/contact" class="btn btn-about wow animated flipInX" data-wow-duration="2s">Leave us a comment.</a>
    </div>
    <div class="col s6">
      <img src="./img/about-index/about-believe.jpeg" alt="" class="responsive-img">
    </div>
  </div>
  

</div>
<div class="container center-align">
  <h3>Meet Our Team</h3>
</div>
<div class="container-fluid center-align team-main">
  <div class="row team-work">
    <div class="card-panel hoverable center-align team-card">
      <p>Team Work is very important</p>
    <div class="row">
      <div class="col s3">
        <div class="card wow animated bounceInUp"   data-wow-duration="2s">
          <h5>Sambo Visal</h5>
          <div class="card-content">
            <img src="./img/about-index/about-believe.jpeg" class="responsive-img">
          </div>
          <div class="card-action">
            Web Designer & Developer
          </div>
          <div class="card-action">
          
            <a href="http://" class="fa fa-facebook"></a>
            <a href="http://" class="fa fa-google"></a>
            <a href="http://" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
        <div class="col s3">
        <div class="card wow animated bounceInDown"  data-wow-duration="2s">
          <h5>Sambo Visal</h5>
          <div class="card-content">
            <img src="./img/about-index/about-believe.jpeg" class="responsive-img">
          </div>
          <div class="card-action">
            IT Marketer
          </div>
          <div class="card-action">
           
            <a href="http://" class="fa fa-facebook"></a>
            <a href="http://" class="fa fa-google"></a>
            <a href="http://" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
        <div class="col s3">
        <div class="card wow animated bounceInUp"  data-wow-duration="2s">
          <h5>Yin Mazatin</h5>
          <div class="card-content">
            <img src="./img/about-index/about-believe.jpeg" class="responsive-img">
          </div>
          <div class="card-action">
            Consultant
          </div>
          <div class="card-action">
           
            <a href="http://" class="fa fa-facebook"></a>
            <a href="http://" class="fa fa-google"></a>
            <a href="http://" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
        <div class="col s3">
        <div class="card wow animated bounceInDown"  data-wow-duration="2s">
          <h5 style="padding-top:20px">Sambo Visal</h5>
          <div class="card-content">
            <img src="./img/about-index/about-believe.jpeg" class="responsive-img">
          </div>
          
          
          
          <div class="card-action">
            Web Testing <br>
            
          </div>
          <div class="card-action">
            <a href="http://" class="fa fa-facebook"></a>
            <a href="http://" class="fa fa-google"></a>
            <a href="http://" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
      
    </div>
        
    </div>
  </div>
</div>
<div class="container center-align">
  <div class="card-panel hoverable">
    <h3>Our Current Projects</h3>
  </div>
</div>